<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="suzumiya.mapper.UserMapper">
    <sql id="BASE_COLUMNS">
        id
        , username, password, nickname, salt, gender, activation, avatar, create_time, update_time
    </sql>

    <sql id="SIMPLE_COLUMNS">
        id
        , nickname, gender, avatar
    </sql>

    <!-- User getUserById(Long userId) -->
    <resultMap id="getUserByIdResultMap" type="User">
        <association property="authoritiesStr" select="suzumiya.mapper.UserMapper.getAuthoritiesStrByUserId"
                     column="userId=id"/>
    </resultMap>
    <select id="getUserById" resultType="User" resultMap="getUserByIdResultMap">
        SELECT
        <include refid="BASE_COLUMNS"/>
        FROM sys_user WHERE id = #{userId} AND is_delete = 0
    </select>

    <!-- List<String> getAuthoritiesStrByUserId(Long userId) -->
    <select id="getAuthoritiesStrByUserId" resultType="java.lang.String">
        SELECT a.authority
        FROM sys_user_role ur
        JOIN sys_role_authority ra
        ON ur.role_id = ra.role_id
        JOIN sys_authority a
        ON ra.authority_id = a.id
        WHERE user_id = #{userId}
    </select>

    <!-- List<User> getFollowings(@Param("followingIds") List<Long> followingIds) -->
    <select id="getFollowings" resultType="User">
        SELECT
        <include refid="SIMPLE_COLUMNS"/>
        FROM sys_user WHERE id IN
        <foreach collection="followingIds" item="followingId" separator="," open="(" close=")">
            #{followingId}
        </foreach>
        AND is_delete = 0
    </select>

    <!-- void setRoles4UserId(@Param("userId") Long userId, @Param("roles") List<Integer> roles) -->
    <insert id="setRoles4UserId">
        INSERT INTO sys_user_role(user_id, role_id) VALUES
        <foreach collection="roles" item="role" separator=",">
            (#{userId}, #{role})
        </foreach>
    </insert>
</mapper>